

/*----------------------------------------------- VIKTOR STYLING ------------------------------------- */
body {
  display: grid;
  grid-template-areas: "nav main";
  grid-template-columns: 20% 80%;
    min-height: 100vh;

    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern' 1, 'liga' on, 'dlig' on;
    line-height: 1.5;
  
    color: DarkSlateGray;
    background-color: silver;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  width: 100%;
  height: 100%;
}

header{
    display: grid;
 position: fixed;
 right: 0em;
 top: 0em;
 bottom: 0em;
 left: 110em;
text-transform: capitalize;
background-color: aqua;

}
h1{
    display: flex;
    justify-content: center;
}

ul{
  list-style: none;
  margin-bottom: 5px;  
}

li{
    margin-bottom: 40px;
    
    justify-content:left;
}


/*----------------------------------------------- INEZ STYLING------------------------------------- */




/*----------------------------------------------- LEMUEL STYLING------------------------------------- */
/*-------------------------------------------------- buttons ------------------------------------------- */
h2{
    position: relative;
    margin: 20px;
  }
  .buttons{
    height: 100%;
    width: 100%;
  }
  .button-size{
    background-color: #ffffff;
    display: flex;
  }
  .large{
    border-radius: 10px;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    margin: 20px;
  
    height: 50px;
    width: 150px;
  }
  .medium{
    border-radius: 8px;
    font-weight: bold;
    margin: 20px;
  
    height: 50px;
    width: 100px;
  }
  .small{
    border-radius: 5px;
    font-weight: bold;
    margin: 20px;
  
    height: 52px;
    width: 52px;
  }
  .small-lang{
    border-radius: 5px;
    font-weight: bold;
    margin: 20px;
  
    height: 40px;
    width: 100px;
  }
  .verzenden{
    border-radius: 100px;
    font-weight: bold;
    margin: 20px;
  
    height: 30px;
    width: 90px;
  }
  .button-kleur{
    background-color: #ffffff;
    display: flex;
  }
  .button-kleur-1{
    padding: 25px;
    width: 150px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
   
    /* ------------------------------kleur wanneer je niet op de button hovert ''inactive''-----------------------------------*/
    background-color: #9CD67D;
    color: #0C3900;
  }
  .button-kleur-2{
    padding: 25px;
    width: 150px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
  
    /*------------------------------- kleur wanneer je wel over de button hovert ''active''----------------------------------- */
    background-color: #0E373F;
    color: #F6F7F7;
  }
  .button-kleur-3{
    padding: 25px;
    width: 150px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    /* ---------------------------------------------zwart-wit "neutrale kleur"----------------------------------------- */
    background-color: white;
    color: black;
  }
  .button-kleur-4{
    padding: 25px;
    width: 150px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
  /* ------------------------------------------------------extra kleurtje -------------------------------------------------------*/
    background-color: #006319;
    color: white;
  }
  
  /* end buttons css */

/*----------------------------------------------- GITA STYLING ------------------------------------- */

section {
  width: 100%;
  height: 100vh;
  border: solid red 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Sidebar */
.sidebar-trigger {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background: #7faec5;
}

.sidebar-trigger > i {
  display: inline-block;
  margin: 1.5em 0 0 1.5em;
  color: #fff;
}

.sidebar-nav {
  position: fixed;
  top: 0;
  left: -15em;
  overflow: hidden;
  transition: all .3s ease-in;
  width: 15em;
  height: 100%;
  background: #fff;
  color: #384b61;
}

.sidebar-nav:hover,
.sidebar-nav:focus,
.sidebar-trigger:focus + .sidebar-nav,
.sidebar-trigger:hover + .sidebar-nav {
  left: 0;
}

.sidebar-nav ul {
  position: absolute;
  top: 6em;
  left: 0;
  margin: 0;
  padding: 0;
  width: 15em;
}

.sidebar-nav ul li {
  width: 100%;
  height: 3em;
}

.nav-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 3em;
}

.nav-link p {
  position: absolute;
  top: 20%;
  left: 4em;
  transform: translateY(-50%);
}

.nav-link:hover {
  background: #384b61;
  color: #fff;
}

.nav-link > i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4em;
  height: 3em;
}

.nav-link > i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Mobile First */
@media (min-width: 42em) {
  /* Sidebar */
  .sidebar-trigger {
    width: 4em;
  }

  .sidebar-nav {
    width: 4em;
    left: 0;
  }

  .sidebar-nav:hover,
  .sidebar-nav:focus,
  .sidebar-trigger:hover + .sidebar-nav,
  .sidebar-trigger:focus + .sidebar-nav {
    width: 15em;
  }
}

@media (min-width: 68em) {
  /* Sidebar */
  .sidebar-trigger {
    display: none
  }

  .sidebar-nav {
    width: 15em;
  }

  .sidebar-nav ul {
    top: 1.3em;
    font-size: 1.4em;
  }
}