

/*----------------------------------------------- VIKTOR STYLING ------------------------------------- */
body { 
    min-height: 100vh;

    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern' 1, 'liga' on, 'dlig' on;
    line-height: 1.5;
  
    color: DarkSlateGray;
    background-color: silver;
}


header{
    display: grid;
 position: fixed;
 right: 0em;
 top: 0em;
 bottom: 0em;
 left: 110em;
text-transform: capitalize;
background-color: aqua;

}
h1{
    display: flex;
    justify-content: center;
}

ul{
  list-style: none;
  margin-bottom: 5px;  
}

li{
    margin-bottom: 40px;
    
    justify-content:left;
}


/*----------------------------------------------- INEZ STYLING------------------------------------- */
