* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: min(calc(1em + 1vw), 4em);
}

body {
  min-height: 100vh;

  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1, 'liga' on, 'dlig' on;
  line-height: 1.5;

  color: DarkSlateGray;
  background-color: silver;
}

body > * {
  padding: 0.2rem;
}

header {
  background-color: white;
  margin-bottom: 1rem;
  color: silver;
}

header > h1 {
  font-size: 1rem;
  text-align: right;
}

nav li {
  display: inline;
}

nav li a {
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
}

section {
  width: min(100%, 38rem);
  background: white;
  border-radius: 0.2rem;
  padding: 0.2rem;
}
section + section {
  margin-top: 1rem;
}

h3 {
  border-bottom: DarkSlateGray 1px solid;
  margin-bottom: 1rem;
}

pre {
  padding-left: 0.2rem;
  background: DarkSlateGray;
  color: white;
}


/* typografie csss */









/* end typografie csss */




/* buttons css */

.button-size{
  background-color: #ffffff;
}
.large{

  border-radius: 10px;
  /* background-color: #006319; */
  /* color: white; */
  background-color: #9CD67D;
  color: #0C3900;
  font-weight: bold;
  padding: 0;
  /* border: none; */
  cursor: pointer;
  height: 50px;
  width: 150px;
}
.medium{
  height: 60px;
  width: 100px;
  border-radius: 10px;
  background-color: #9CD67D;
  color: #0C3900;
  font-weight: bold;
}
.small{
  height: 60px;
  width: 100px;
  border-radius: 10px;
  font-weight: bold;
}
.button-kleur{
  background-color: #ffffff;
}
.button-kleur-1{
  padding: 25px;
  width: 150px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;

  /* kleur wanneer je niet op de button hovert ''inactive''*/
  background-color: #9CD67D;
  color: #0C3900;
}
.button-kleur-2{
  padding: 25px;
  width: 150px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;

  /* kleur wanneer je over de button hovert ''active'' */
  background-color: #0E373F;
  color: #F6F7F7;
}
.button-kleur-3{
  padding: 25px;
  width: 150px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;

}

/* end buttons css */